@charset "UTF-8";

@font-face {
    font-family: 'croissantone';
    src: url(/pessoal/fontes/CroissantOne-Regular.ttf) format(trutype);
}

@font-face {
    font-family: 'nunito';
    src: url(/pessoal/fontes/Nunito-Regular.ttf) format(trutype);
}

:root{
    --fonte-titulo: 'croissantone', Geneva, Tahoma, sans-serif;
    --fonte-texto: 'nunito', cursive, Courier, monospace, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

/*header*/

header{
    background-color: black;
    color: white;
}

header > h1{
    padding-top: 30px;
}

header > p {
    padding-bottom: 30px;
}