@charset "UTF-8";

@font-face {
    font-family: 'croissant';
    src: url(../fontes/CroissantOne-Regular.ttf) format(truetype);
}

:root{
    --cor1: #0000;
    --cor2: #ffffff;

    --fonte-titulo: Arial normal ;
    --fonte-poesia: 'croissant' cursive;
    --fonte-texto: Arial, Verdana, Helvetica, sans-serif;   
}

*{
    padding: 0px;
    margin: 0px;
}

/*Header*/

header{
    background-color: var(--cor1);
    color: var(--cor2);
}