@charset "UTF-8";

@font-face {
    font-family: 'croissant';
    src: url(fontes/CroissantOne-Regular.ttf) format(truetype);
}

*{
    padding: 0px;
    margin: 0px;
}

/*Header*/

header{
    background-color: black;
}

header h1{
    color: white;
    padding: 15px 0px 15px 0px;
    font-size: 3em;
}

nav a{
    color: white;
}

main{
    font-family: croissant;
}