@charset "UTF-8";

@font-face {
    font-family: 'passion' ;
    src: url(/desafios/des-cordel/fontes/PassionOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'sriracha';
    src: url(/desafios/des-cordel/fontes/Sriracha-Regular.ttf) format(truetype);
}

*{
    margin: 0px;
    padding: 0px;
}

/*CABEÇA*/

header{
    background-color: black;
    font-family: 'passion' Arial, Helvetica, sans-serif;
}

header > h1{
    color: white;
}

nav > a{
    color: white;
    text-decoration: none;
}